<!doctype html>
<html lang="en" data-bs-theme="lightgreen">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ bootstrap.load_css() }}
</head>

<body>
    <div class="container">
        <center>
        <h1>Aryll Pacheco</h1>
        <!--Insert image of yourself here, can be different image then link image-->
        <img src="static/images/aryllintree.jpg" class="w-25 mb-5"/>
        <p>Hi, I'm Aryll. I am currently a sophmore in computer science at CSUMB. I am interested
            in maybe going into Cybersecurity or Game design for my concentration. I am currently
            involved in the cohort program CS++. This program was actually what made me decide that
            I can go to a 4 year university straight after high school. I was initially unsure whether 
            I was going to be able to afford going to univeristy so I was planning on going to MPC the local
            community college in order to save up to go else where. I ended up still applying to a few 
            colleges after some encouragment from my English teacher. I ended up learning about the CS++ 
            cohort which would allow for me to get scholarship money and I would be able to live at home 
            which would cut down on my expenses. I am really glad that I ended up going to CSUMB. 
        </p>
        <p>Link the hobbies to seperate pages</p>
    </center>
    </div>
</body>
</html>