<!doctype html>
<html lang="en" data-bs-theme="lightgreen">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ bootstrap.load_css() }}
</head>

<body>
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots creds W3Schools for carousel-->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static/images/crowclub.jpg" alt="Crow Club" class="d-block w-100">
        </div>
        <div class="carousel-item active">
          <img src="static/images/handpaintedplate.jpg" alt="Handpainted Plates" class="d-block w-100">
        </div>
        <div class="carousel-item active">
          <img src="static/images/hrh-gasp-.jpg" alt="Frog Queen" class="d-block w-100">
        </div>
      </div>
      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
    <div class="container">
        <center>
        <h1>Books</h1>
        <!--Books, favorite ones-->
        <p>I have been an avid reader since I was younger. I didn't really have much access to the 
            TV during the day so I pretty much either played outside or read a book. More often then not though
            I was inside with a nice book. Due to the fact that I lived in Palm Springs at the time, it 
            was often too hot to be outside during the day. My favorites at that time kinda shaped me as a person
            and what books I tend to gravitate towards now. These being The Land of Stories and The Series of Unfortunate
            Events. I loved these books so much as a kid and I still go back and read them from time to time when 
            I need a pick me up. Books will always be something that I can find relaxation in. I think this is 
            also important for me since it is something I can do that does not require me to look at a screen, which
            is helpful when studying in Computer Science because that's kinda what we are looking at all day. My 
            current favorite books are Woven in Moonlight and The Cruel Prince series. I love a good fantasy what
            can I say. 
        </p>
        <a href="{{ url_for('AryllPage')}}">Back to homepage</a>
    </center>
    </div>
</body>
</html>