<!doctype html>
<html lang="en" data-bs-theme="lightgreen">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ bootstrap.load_css() }}
        <!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JS (including Popper.js) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</head>
</head>

<body>
    <div class="container">
      <center>
        <h1>Pottery</h1>
        <!--Insert image carousel of pottery, creds to Bootstrap-->
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

          <!-- Indicators/dots -->
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
          </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/images/crowclub.jpg" alt="Crow Club" class="d-block w-50">
          </div>
          <div class="carousel-item">
            <img src="static/images/handpaintedplate.jpg" alt="Handpainted Plates" class="d-block w-50">
          </div>
          <div class="carousel-item">
            <img src="static/images/hrh-gasp-.jpg" alt="Frog Queen" class="d-block w-50">
          </div>
        </div>
        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
        <p>I started doing pottery my senior year of high school and I honestly fell in love with it. 
          it allowed me to be so creative in a way that I wasn't really able to be in the past.
          I think what also drew me to pottery was a tactile it is. I love being able to do things with my hands 
          to create things, which is why I was in music for many years but this was a different kind of feeling. 
          The process from start to finish was so fulfilling. You never knew what was going to survive the many
          processes that are involved in pottery. Even if you spent so long a particular piece it was not 
          guaranteed to make it in the kiln. I enjoyed that kind of not knowing. My goal in the future, once
          I have a stable job and a place to call my home I want to have a pottery studio and make all of the 
          dishes that I would ever need. I'm excited for the future and all of things that I will be able to create.
        </p>
        <a href="{{ url_for('AryllPage')}}">Back to homepage</a>
      </center>
    </div>
</body>
</html>