<Center>
    <h1 style = "font-size: 100px">Bryson Ruck</h1>
    <h1>More About Me</h1>
    <p>___________________________________________________________</p>
    <h1>Why I picked CSUMB</h1>
    
    <p style = "font-size: 25px">I picked CSUMB because it reminded me of where I am from.  I am from <a href="url_for('homepage')">San Luis Obispo</a> and I
    felt like I wanted to be in a place like home, but still some what far from home.  The monterey area has a super similar
    tempature to where I am from which was a huge selling point for me.  Also the program that my friends and I are in was a big 
    influence since I need money</p>
    
    <h1>Hobbies</h1>
    
    <a href="{{url_for('Guitar')}}"><p style = 'font-size: 25px'>Guitar/Bass</p></a>
    <a href="{{url_for('Music')}}"><p style = 'font-size: 25px'>Music</p></a>
    <a href="{{url_for('Walking')}}"><p style = 'font-size: 25px'>walking</p></a>
    <a href="{{url_for('Electronics')}}"><p style = 'font-size: 25px'>Electronics</p></a>


    
    
    
    <h1>Concentration</h1>
    
    
    
    <h1></h1>
    
    <a href="{{url_for('homepage')}}"><h1>Click Here for Home Page</h1></a>
    
    
    
    </Center>