<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
	<!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}

        <title>Carlos's Home Page</title>
    </head>
    <body>
	<div class="container">
            <center>
                <h1>~ Carlos Solian ~</h1>
            </center>
      </div>
        <center>
            <img class="img-thumbnail" alt="large-thumbnail" src="/static/images/carlosHomePage.jpg" width="375px" height=auto/>
        </center>

        <div class="container">
            <center>
                <p>_____________________________________________________________________</p>
                <h2>About Me</h2>
                <p>My name is Carlos Solian and I am a sophmore at CSUMB. I am apart of the CS++ program in cohort 10. </p>
            </center>
        </div>

      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}
    
    </body>
</html>