<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
	<!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}

        <title>Carlos's Home Page</title>
    </head>
    <body>
        <!-- Your page content -->
	<div class="container">
            <center>
                <h1>~ Carlos Solian ~</h1>
                <img class="img-thumbnail" alt="large-thumbnail" src="/static/images/carlosHomePage.jpg" width="400px" height=auto/>
            </center>
      </div>

      <!-- Optional JavaScript -->
      {{ bootstrap.load_js() }}
    
    </body>
</html>