<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ bootstrap.load_css() }}
    <title>Document</title>
</head>
<body>
    <div class="container">
        <center>
            <h1>~ Major ~</h1>
            

            <img src="/static\images/group.png" width=350px height=auto>
            <br><br>
            <p>I study computer science at CSUMB. I picked this school because of the CS++ cohort, which helped me pay for my education. At first, I wasn't sure what to major in, as I've always loved computers. In the end, I went for computer science because of the chances the cohort gave me. I'm happy with my choice because I've met a lot of great people. We're not just good classmates who can hit the books and work together, but we're also real friends who go on random, fun adventures.</p>
            <br>
            <a href="{{url_for('Carlos')}}"><h5><u>Back</u></h5></a>
            <a href="{{url_for('homepage')}}"><h5><u>Return To Homepage</u></h5></a>
        </center>
    </div>
    

    {{ bootstrap.load_js() }}

</body>
</html>