<center>
<h1>Electronics</h1>
<div>
    <p1 style = "font-size: 30px"></p1style>Another thing that I really enjoy is electronics.  it's the main reason why I am in computer science.  I just really enjoy working with technology and understanding
    how it works or how it does things.  I mostly like the software side since I feel like the hardware is to complicated for me.  
I also built my computer which isn't hard, but it can be stressful since you are working with very expensive pieces of hardware, but 
putting it together myself felt very satisfying and I just like building/putting things together myself instead of just 
buying things prebuilt. </div>

<div>
<img src="/static/images/Desktop.jpeg" class="w-25 mb-5" 
width="800"
height="900"/>
</div>
<a href="{{url_for('Bryson')}}"><h1>Previous page</h1></a>
</center>