<center>
    <h1>Guitar/Bass</h1>
   <div>
    <img src="/static/images/Guitars.jpg" class="w-25 mb-5" 
    width="400"
    height="600"/>
</div>
    <p1 style = "font-size: 30px"></p1style>One thing that I really enjoy doing is playing guitar and bass.  In general I just really enjoy learning different instruments.
        I just find it fun to learn the different instruments that are used in the music that I like to listen to.  I also have an acoustic 
        guitar which is what I had started on, but in the beginning of 2024 I got the electric guitar and I've only been playing that one.
    </p1>
    <a href="{{url_for('Bryson')}}"><h1>Previous page</h1></a>
    </center>