<!doctype html>
<html lang="en" data-bs-theme="dark">
    <style>
        .inline-image {
            display: inline-block;
            text-align: center;
            margin: center; /* Adjust spacing as needed */
        }
    </style>
   
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
	<!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}

        <title>Home Page</title>
    </head>
    <body>
        <!-- Your page content -->
	<div class="container">
        <center>
            <h1>THINK OF LATEER</h1>
            <!-- Put group Photo here -->
        <img src="/static/images/group.png" class="w-25 mb-5" />
        <p>We are all in the CS++ cohort 10 at CSUMB. Heading into college can be 
            daunting especially for first year students, but the cohort program allowed us 
            to acclimate to college with other people in the same major as us. CS++ is a cohort 
            program designed to provide a community of other like minded individuals starting their 
            freshman year in computer science. This program gives students access to guidance through 
            the hard courses, access to study groups and other opportunities that are not available to 
            others in the computer science major. Through the cohort, we were able to have early access 
            to registration through a predetermined course load. This allows for the students to graduate in 
            4 years without fear of not getting the classes that they may need. Scholarships of up to $10,000 
            will also be offered to those that qualify in the cohort. Through the program we have access to 
            career and internship preparation through their program Accelerate, a course that is made for 
            preparing students for internships, open source and research opportunities. We are also able to 
            build close relationships with the other cohort members going through the same program as us with
             the same course load. Networking opportunities as well as to allow you to learn more about the 
             community of fellow computer scientists and understand the industry that you are going to be getting
              a job in in the future. 
        </p>
    </center>
      </div>
      <div class="container">
        <center>
      <div class="inline-image">
      <a href=" {{ url_for('AryllPage') }}">
        <img class="rounded-circle" alt="Aryll" src="/static/images/aryllhomepage.jpg" width="200px" height="200px"/>
      </a>
        <a href="{{ url_for('AryllPage')}}">Aryll Pacheco</a>
   </div>
   
   <div class="inline-image">
    <a href="{{ url_for('Carlos') }}">
        <img class="rounded-circle" alt="Carlos" src="/static/images/carlos.jpg" width="200px" height="200px"/>
        </a>
        <p><a href="{{ url_for('Carlos')}}">Carlos Solian</a></p>
    </div>
    <div class="inline-image">
        <a href="{{ url_for('Sarah')}}">

        <img class="rounded-circle" alt="Sarah" src="/static/images/sarah.JPG" width="200px" height="200px"/>
        <p>Sarah Wafa</p>
        </a>
</div>
<div class="inline-image">
    <div class="inline-image">
        <a href="{{url_for('Bryson')}}">
            <img class="rounded-circle" alt="Bryson" src="/static/images/bryson.png" width="200px" height="200px"/>
        </a>
        <div>
        <a href="{{ url_for('Bryson') }}">Bryson Ruck</a>
        </div>
   </div>
   </div>
</center>
   </div>
   
    </div>

    </body>

</html>
