<center>
    <h1>Music</h1>
    <div>
    <img src="/static/images/lastDino.jpg" class="w-25 mb-5" 
    width="900"
    height="750"/>
    </div>
    <div>
        <p1 style = "font-size: 20px"></p1style>The people above are one of my favorite bands called Last Dinosaurs</p1>
        </div>
    <div>
    <p1 style = "font-size: 30px"></p1style>The thing I enjoy doing the most is just listening to music.  I don't ever stick to one genre, I tend to just listen to
    what ever I added to my liked song playlist.  the playlists below are just tiny playlists that show a couple of songs from genres I like.</p1>
    
</div>
    <!-- songs -->
    <!--widgets-->>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/7DrNquxdFRI7YDkLtb1H3J?utm_source=generator" 
    width="30%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" 
    loading="lazy"></iframe>

    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/63B7fqSpVmJ4M9pRBD1w7r?utm_source=generator"
    width="30%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>

    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6nq4Le5b8KeLwLAbjP2yjS?utm_source=generator"
    width="30%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>






    <a href="{{url_for('Bryson')}}"><h1>Previous page</h1></a>
    </center>