<!doctype html>
<html lang="en" data-bs-theme="lightgreen">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ bootstrap.load_css() }}
</head>
<body class= "container">
    <center>
        <h1> ~ More about Sarah ~</h1>
    </center>
    <center>
        <img src="static/images/sarahHome.jpg" class="w-50 mb-3"/>
    </center>
</body>
<body class = "container">
    <center>
        <p> I chose computer science as my major during my last semester of 
            senior year. I had originally chosen another major but changed it last 
            minute because I </p>
    </center>
</body>
