<!doctype html>
<html lang="en" data-bs-theme="lightgreen">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ bootstrap.load_css() }}
</head>
<body>
    
    <div class= "container">
        <center>
            <h1> 🕸️ Spiderman 🕸️ </h1>
        </center>
        <center>
            <img src="static/images/spiderman.jpg" class="w-50 mb-3"/>
        </center>
    </div>

    <div class = "container">
        <center>
            <p> Spiderman is my favorite Marvel character. He is really my favorite character over all. I think I always did like the character but he became my favorite around maybe highschool. I started collecting and buying things that were Spiderman themed. 
                For my graduation gift from my aunt, one of the things she gave me was a tumbler with spiderman print on it. I still have it and use it as a coffee cup. I have 2 spiderman plushies and even a spiderman head lego set that one of my friends gave me for my birthday.
                I like the fact that the character is someone who is just a teenager and their whole message is that with great power comes great responsibility. The higher up you go the more responsibilities you have to make sure you do. I have watched almost if not all spiderman movies. I also enjoy watching Thor's movies as well. Besides Marvel movies, I watch a lot of horror movies.  </p>
        </center>
    </div>
    <div class = "container">
        <center>
            <p> I have watched almost if not all spiderman movies. I also enjoy watching
                Thor's movies as well. Besides Marvel movies, I watch a lot of horror movies.
             </p>
        </center>
    
    </div>

    <center>
    <div> <a href="{{ url_for('horror')}}">Learn more about my fav genre</a> </div> 
    </center>

    <div> <a href="{{ url_for('Sarah')}}">Go Back Home</a></div>
    <div> <a href="{{ url_for('homepage')}}">Go Back to Main</a></div>

</body>


